body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

.hidden{
    display: none;
}

.nav-bar{
    background-color: #de9b16;
    color: white;
    width: 100%;
    height: 100%;
    padding: 2px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.nav-bar h1 a{
    color: white;
    text-decoration: none;
}
.list-container ul li{
    list-style: none;
    display: inline-flex;
    color: white;
    transition: 0.5s;
    padding: 10px;
}

.list-container ul li:hover{
    color: black;
    background-color: lightseagreen; 
}
h2{
    display: block;
    text-align: center;
    color: #de9b16;
}

#add-btn{
    color: white;
    text-align: center;
    border: none;
    padding: 8px;
    background-color: #de9b16;
    transition: 0.5s;
    margin: 12px;
}

#books-add{
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn:hover{
    color: black;
    background-color: lightseagreen;
}

.books-container{
    width: 98.85%;
}

.books-shelf{
    border: 1px solid #de9b16;
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
 }

.books-shelf .booksContainer{
    background-color: #de9b16;
    border: 1px solid black;
    padding: 8px;
    margin: 10px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.books-shelf .booksContainer:hover{
    transform: scale(1.1);
    color: peachpuff;
    background-color: lightseagreen;
}

#edit-btn, #delete-btn{
    display:inline-block;
    width: 50px;
    border: none;
    background-color: navajowhite;
    transition: 0.5s;
}
#edit-btn:hover, #delete-btn:hover{
    background-color: lightseagreen;
}
dialog {
    z-index: 1000; /* Ensure dialog is on top */
    border: none;
    border-radius: 8px;
}


footer{
    background-color: #de9b16;
    color: white;
    width: 100%;
    height: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    list-style: none;
    display: inline-flex;
    color: white;
    transition: 0.5s;
    padding: 10px;
    width: auto;
    height: auto;
}

footer li {
    margin-left: 10px;
}
/*this is for form*/

#books-inputs{
    position: fixed;
    border: 1px solid black;
    background-color: #de9b16;
    width: 55%;
    height: 31%;
}

.inputs{
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
    width: auto;
    height: 20%;
    padding: 10px;
}

.inputs input{
    padding: 5px;
    margin: 8px;
}

.btn-r, .btn-l{
    width: 20%;
    padding: 2px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li a{
    color: black;
    transition: 0.5s;
}

footer li a .whatsapp:hover{
    color: rgb(0, 255, 0);
}*

footer li a .linkedin:hover{
    color:#0a66c2;
}

footer li a .github:hover{
    color: white;
}
