html, body{
 padding: 0;
 margin: 0;
 width: 100% ;
 height: 100%;
 box-sizing: border-box;
 font-family: fantasy serif Verdana, Geneva, Tahoma, sans-serif;
}


:root{
 --main-color: #FF711C;
}

.nav-bar{
 width: 100%;
 height: 60px;
 margin-bottom: 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0px 8px;
 background-color: var(--main-color);
}

.nav-bar ul{
 display: flex;
 list-style: none;
}

.nav-bar li{
 margin-left: 10px;
}

a{
 text-decoration: none;
 color: black;
}

.books-add{
 text-align: center;
 font-size: 40px;
}



#add-btn{
 width: 100px;
 height: 40px;
 margin: 10px 10px 10px 0;
 border: 1px solid var(--main-color);
 background-color: var(--main-color);
 transition: 1s;
}

#books-add{
 display: flex;
 justify-content: center;
 align-items: center;
}

h2{
 color: var(--main-color);
}

#add-btn:hover{
 background-color: #FFFFA4;
}
#add-btn:visited{
 background-color: #02FF98;
}
.books-shelf{
 border: 2px solid var(--main-color);
 width: 100%;
 height: 1000px;
 margin: 6px;
 padding: 8px;
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 justify-content: space-evenly;
 align-items: flex-start;
 grid-gap: 10px;
 overflow-x: auto;
}


.books-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

#input-form{
 width: 500px;
 height: 500px;
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: auto auto auto auto ;
 grid-row-gap: 5px;
 justify-content: center;
 align-items: center;
 background-color: var(--main-color);
 border: 1px solid var(--main-color);
 position: relative;
}

#title,
#author,
#number-of-pages{
 width: 250px;
 height: 10px;
 padding: 10px;
 margin: 6px;
 outline: none;
}

.form-container{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}


.btn-r{
 position: absolute;
 bottom: 0;
 padding: 10px;
 margin: 8px;
 right: 10px;
 left: 400px;
 background-color: floralwhite;
 border: 1px solid var(--main-color);
 font-size: 10px;
}
.btn-l{
 position: absolute;
 bottom: 0;
 padding: 10px;
 margin: 8px;
 left: 10px;
 right: 400px;
 background-color: floralwhite;
 border: 1px solid var(--main-color);
 font-size: 10px;
}

#save-btn{
 position: absolute;
 bottom: 0;
 padding: 10px;
 margin: 8px;
 right: 10px;
 left: 400px;
 background-color: floralwhite;
 border: 1px solid var(--main-color);
 font-size: 10px;
}

#discard-btn{
 position: absolute;
 bottom: 0;
 padding: 10px;
 margin: 8px;
 left: 10px;
 right: 400px;
 background-color: floralwhite;
 border: 1px solid var(--main-color);
 font-size: 10px;
}

#books-inputs{
 background-color: var(--main-color);
 font-size: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.buttons{
 display: grid;
 grid-template-columns: 50px 50px;
 grid-gap: 8px;
}

#edit-btn,
#delete-btn{
 padding: 3px;
 border: 1px solid var(--main-color);
 background-color: var(--main-color);
}

.message-cotainer{
 font-size: 30px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding: 6px;
 background-color: antiquewhite;
 color: black;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}


#error-message{
 position: absolute;
 background-color: antiquewhite;
 text-align: center;
}

#message{
 width: 300px;
}

#ok-btn{
 font-size: 20px;
 width: 100%;
 background-color: var(--main-color);
 border: 1px solid var(--main-color);
}

dialog {
    opacity: 0;
    transition: opacity 0.7s ease;
}

dialog[open] {
    opacity: 1;
}

.footer{
 position: fixed;
 bottom: 0;
 padding: 2px;
 margin: 0;
 width: 100%;
 height: 60px;
 background-color: var(--main-color);
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.footer ul{
 list-style: none;
 display: flex;
 justify-content: center;
 align-items: center;
}

.footer li{
 margin-right: 10px;
}

svg{
 width: 20px;
 height: 20px;
 transition: 0.4s;
}

.bi-github:hover{
 color: white;
}
.bi-linkedin:hover{
 color: #47AFFF;
}
.bi-whatsapp:hover{
 color: #64F284;
}
.hidden{
 display: none;
} 

/* Media query for devices with a minimum width of 1080px and height of 2400px */
@media only screen and (max-width: 1080px) {
 .nav-bar {
 width: 100%;
 height: 60px;
 font-size: 12px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0;
 background-color: var(--main-color);
}

.nav-bar li{
 margin-right: 4px;
}

#books-inputs{
 font-size: 20px;
 width: 80%;
 display: flex;
}

.btn-r, #save-btn{
 padding: 4px;
 margin: 2px;
 right: 10px;
 left: 80%;
 font-size: 10px;
}
.btn-l, #discard-btn{
 padding: 4px;
 margin: 2px;
 left: 10px;
 right: 80%;
 font-size: 10px;
}
.footer{
 position: static;
}

.books-container{
}
  }
